Ans 1 ) : Following are the characteristics of a tuple:
    They are indexed.
    Tuples are ordered.
    They can contain duplicate items.
    Yes,, tuples ae immutable.

Ans 2) The two tuple methods are count() and index().
       The count method calculates the number of the input value in the tuple whereas the index gives the index value of the input within the given range.
       If the value is not found within the range, it gives error.
       Tuples have only tw methods as they are immutable.
        Examples are given below:

In [3]:
t =(1,2,3,4,6,3,4,5)
t.count(3)

2

In [7]:
t.index(2,0,6)

1

 Ans 3) Set does not allow havng duplicate items

In [8]:
lst = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [10]:
print(set(lst))

{1, 2, 3, 4}

Ans 4) Both set.update() and set.union() perform the union operation. However, set.update() adds all missing elements to the set on which it is called whereas set.union() creates a new set.
Consequently, the return value of set.update() is None (with side effects) and the return value of set.union() is a set (without side effects).

In [11]:
 s ={1,2,3}

In [15]:
s.update({4,5})

In [16]:
s

{1, 2, 3, 4, 5}

In [17]:
s.union({6,7})

{1, 2, 3, 4, 5, 6, 7}

In [18]:
print(s)

{1, 2, 3, 4, 5}

Here we see the union created a new set whereas the s set is not updated with union method

Ans 5) Dictionary is a datatype in python that stores data in key-value pairs.  A dictionary is a collection which is ordered, changeable and do not allow duplicates wrt key.

In [20]:
dictn ={"a":1,"b":2,"c":3}

In [24]:
print(dictn.keys())

dict_keys(['a', 'b', 'c'])

In [25]:
print(dictn.get("a"))

1

Ans 6 ) Yes, a nested dictionary can be created.

In [26]:
dct = {"a":1,"b":{"tmp":12,"abc":14}}

In [28]:
print(dct.get("b"))

{'tmp': 12, 'abc': 14}

In [47]:
#Ans 7 )
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}
ls = ['Python', "Machine Learning", "Deep Learning"]
x = dict1.setdefault("keyvalue", ls)

In [48]:
x =dict1.keys()

Ans 8) The three view objects in dictionary are : key, value and items.

In [51]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
print(dict1.keys())

dict_keys(['Sport', 'Teams'])

In [52]:
print(dict1.items())

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])

In [53]:
print(dict1.values())

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])