In [21]:
#Ans 1) 
import pandas as pd

In [22]:
items = [4,8,15,16,23,42]
s = pd.Series(items)

In [23]:
print(s)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [24]:
# Ans 2 )

In [25]:
items = ['Rahul''Faizan','Krish',4,3,5,6,8,10]
s = pd.Series(items)

In [26]:
s

0    RahulFaizan
1          Krish
2              4
3              3
4              5
5              6
6              8
7             10
dtype: object

In [27]:
#Ans 3 )

In [28]:
data = {'Name': ['Alice', 'Bob', 'Claire'],

        'Age': [25, 30, 27],

        'Gendr': ['Female', 'Male', 'Female']}

df = pd.DataFrame(data)
print(df)

     Name  Age   Gendr
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [29]:
# Ans 4 )
A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.Pandas use the loc attribute to return one or more specified row(s)

In [32]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
#load data into a DataFrame object:
df = pd.DataFrame(data)
type(df)
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

Pandas series are One-dimensional whereas dataframe is two dimentional.
Series is Homogenous meaning series elements must be of the same data type whereas dataframe is Heterogenous meaning DataFrame elements can have different data types.

In [33]:
#Creating a list
author = ['Jitender', 'Purnima', 'Arpit', 'Jyoti']
#Creating a Series by passing list variable to Series() function
auth_series = pd.Series(author)
#Printing Series
print(auth_series)

0    Jitender
1     Purnima
2       Arpit
3       Jyoti
dtype: object

In [34]:
#Creating two lists
author = ['Jitender', 'Purnima', 'Arpit', 'Jyoti']
article = [210, 211, 114, 178]
#Creating two Series by passing lists
auth_series = pd.Series(author)
article_series = pd.Series(article)
#Creating a dictionary by passing Series objects as values
frame = { 'Author': auth_series, 'Article': article_series }
#Creating DataFrame by passing Dictionary
result = pd.DataFrame(frame)
#Printing elements of Dataframe
print(result)

     Author  Article
0  Jitender      210
1   Purnima      211
2     Arpit      114
3     Jyoti      178

Ans 5 ) Some common functions  used to manipulate data in a Pandas DataFrame are :
    a) Remove Column from pandas DataFrame : This is required when we need to have to select required columns only.
    b)  Add New Column to pandas DataFrame : Can be used when we need a new columns. May a column on the basis of existing columns such as hash_key.
    c) Merge Two pandas DataFrames
    d) Rename Columns of pandas DataFrame : Sometime we want to rename a column just to give meaningful name.

Ans 6) Series, DataFrame and Panel are all mutable in nature.

In [36]:
#Ans 7 ) #Creating two lists
author = ['Jitender', 'Purnima', 'Arpit', 'Jyoti']
article = [210, 211, 114, 178]
#Creating two Series by passing lists
auth_series = pd.Series(author)
article_series = pd.Series(article)
#Creating a dictionary by passing Series objects as values
frame = { 'Author': auth_series, 'Article': article_series }
#Creating DataFrame by passing Dictionary
result = pd.DataFrame(frame)
#Printing elements of Dataframe
print(result)

     Author  Article
0  Jitender      210
1   Purnima      211
2     Arpit      114
3     Jyoti      178

xplanation : There aretwo lists author and article. We create series auth_series and article_series from these lists. Since the dataframe is two dimentional,
we created a dictionary and passed it to dataframe to create a pandas dataframe.