In [39]:
# Ans 1)program to sort the given list of tuples based on integer value using a lambda function.
lst1 = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
lst1.sort(key = lambda x: x[1])
print(lst1)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [1]:
# Ans2) 
l= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a= list(map(lambda x : x**2,l))
print(a)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
# Ans 3) 
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
b = tuple(map(lambda x: str(x),l1))
print(b)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [8]:
# Ans 4 - Program using reduce function to compute the product of a list containing numbers from 1 to 25.
from functools import reduce
l1=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
reduce(lambda x,y :x*y, l1)

15511210043330985984000000

In [28]:
# Ans 5 
lst = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
print(list(filter(lambda x: x%2 ==0 and x%3==0, lst)))

[6, 60, 90, 120]

In [31]:
# Ans 6
lst1= ['python', 'php', 'aba', 'radar', 'level']
list(filter(lambda x: x[::-1] ==str(x) ,lst1))

['php', 'aba', 'radar', 'level']